$primary-color: #7aadc5;
$secondary-color: #c1b1ce;
$tertiary-color: #f9e5de;
$background-color: #d1d9ef;
$accent-color: #6c97b4;
$border-color: #333;
$animal-main-color: #ffa6c9;
$animal-accent-color: #ccccff;
$animal-comp-color: #9f8170;
$space-main-color: #00009c;
$space-accent-color: #6f00ff;
$space-comp-color: #007ba7;
$fantasy-main-color: #7ba05b;
$fantasy-accent-color: #fffdd0;
$fantasy-comp-color: #cfb53b;
$base-color: #fefefa;
$const-color: #000000;
